<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.google.sample.oboe.manualtest"
    android:versionCode="32"
    android:versionName="1.5.24">
    <!-- versionCode and versionName also have to be updated in build.gradle -->

    <uses-feature android:name="android.hardware.microphone" android:required="true" />
    <uses-feature android:name="android.hardware.audio.output" android:required="true" />
    <uses-feature android:name="android.software.midi" android:required="true" />

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- debug-writing file need external storage writing -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.google.sample.oboe.manualtest.MainActivity"
            android:launchMode="singleTask"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.google.sample.oboe.manualtest.TestOutputActivity"
            android:label="@string/title_activity_test_output"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name="com.google.sample.oboe.manualtest.TestInputActivity"
            android:label="@string/title_activity_test_input"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name="com.google.sample.oboe.manualtest.TapToToneActivity"
            android:label="@string/title_activity_output_latency"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name="com.google.sample.oboe.manualtest.RecorderActivity"
            android:label="@string/title_activity_recorder"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name="com.google.sample.oboe.manualtest.EchoActivity"
            android:label="@string/title_activity_echo"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name="com.google.sample.oboe.manualtest.RoundTripLatencyActivity"
            android:label="@string/title_activity_rt_latency"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name="com.google.sample.oboe.manualtest.ManualGlitchActivity"
            android:label="@string/title_activity_glitches"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name="com.google.sample.oboe.manualtest.AutoGlitchActivity"
            android:label="@string/title_activity_glitches"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name="com.google.sample.oboe.manualtest.TestDisconnectActivity"
            android:label="@string/title_test_disconnect"
            android:screenOrientation="portrait">
        </activity>

        <service
            android:name="com.google.sample.oboe.manualtest.AudioMidiTester"
            android:permission="android.permission.BIND_MIDI_DEVICE_SERVICE">
            <intent-filter>
                <action android:name="android.media.midi.MidiDeviceService" />
            </intent-filter>

            <meta-data
                android:name="android.media.midi.MidiDeviceService"
                android:resource="@xml/service_device_info" />
        </service>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>

    </application>

</manifest>